html, body {
    background-color: #F1F1F1;
    padding: 0px;
}

#myCanvas {
    display: block;
    margin: 0 auto 0 auto;
    background-color: beige;
}

.images {
    display: none;
}

.column {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}