html, body {
    padding: 0px;
}

#canvas {
    display: block;
    margin: 0 auto 0 auto;
    background-color: #5BC0DE;
}

#speed-bar {
    width: 400px;
    padding: 5px;
    margin: 10px auto 20px auto;
    border-radius: 3px;
}

#weapon-bar {
    width: 400px;
    padding: 5px;
    margin: 20px auto 10px auto;
    border-radius: 3px;
}


.images {
    display: none;
}

.column {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

